<!DOCTYPE html>
<html>
  <head>
    <title>Words and Definitions</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">
  </head>
  <body>
    <div class="container">
      <%= yield  %>
      
    </div>
    <div class="container">
    <img src="/img/scooby.png" alt="Cartoon Dog"><img src="/img/cake.jpeg" alt="Cake"><img src="/img/house.jpeg" alt="House">
    </div>
  </body>
</html>