<h1>Add a New Word:</h1>

<form action="/words" method="post">
  <label for="word_name">New Word</label>
  <input id="word" name="word_name" class="form-control" type="text">
  <br><br><br>

<h1>Add a Photo to Match the Word!:</h1>
<label for="photo_link">Photo Link</label>
<input id="photo" name="photo_link" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
  <br><br><br>
  </form>