<div class = "jumbotron">
  <h1>Make Your Own Dictionary</h1>
</div>
<body>
<h3>Word/s Created:</h3>
<% if @words.any? %>
  <ul>
  <% @words.each do |word| %>
    <li><a href="/words/<%= word.id %>"><%= word.word %></a></li>
  <% end %>
  </ul>
<% else %>
  <p>There are currently no words to display.</p>
<% end %>
<p>Click on the desired word above to see its definition/s. Start below by adding a new word, real or make-believe!</p>
<div id = 'link'>
<a href="/words/new">Add a new word</a>
<br><br><br>
</div>
</body>
