
body{
  background-color:rgb(223, 226, 9);
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.jumbotron{
  background-color:rgb(197, 15, 15);
  text-align: left;
}
img{
  height: 300px;
  width: auto;
  text-align: center;
}